<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Banco Simples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Olá, {{ nome_html }}!</h2>
        <h3>Seu saldo é: R$ {{ saldo_atual }}</h3>

        <!-- Opção Depositar -->
        <form action="/ir-para-deposito" method="POST">
            <input type="hidden" name="conta" value="{{ conta_html }}">
            <button type="submit" class="btn-deposito">Depositar</button>
        </form>

        <!-- Opção Sacar -->
        <form action="/ir-para-saque" method="POST">
            <input type="hidden" name="conta" value="{{ conta_html }}">
            <button type="submit" class="btn-saque">Sacar</button>
        </form>

        <!-- Opção Procurar Conta -->
        <form action="/ir-procurar" method="POST">
            <input type="hidden" name="conta" value="{{ conta_html }}">
            <button type="submit" class="btn-secundario">Procurar uma conta</button>
        </form>

        <a href="/" class="btn btn-secundario" style="margin-top: 10px;">Adicionar/Mudar de conta</a>
    </div>
</body>
</html>
