<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Banco Simples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Meu Banco</h1>
    <br>
    <h2>Olá {{ nome }}</h2>
    <br>
    <h3>Saldo Atual: R$ {{ saldo_atual }}</h3>
    <form action="/sacar" method="POST">
        <input type="hidden" name="conta" value="{{ conta_html }}">
        <label>Digite o valor para sacar:</label>
        <input typr="number" name="valor_saque">
        <button type="submit">Confirmar Saque</button>
    </form>
</body>
</html>
